<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="htmx.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <title>babtism</title>
</head>

<body>
  <header class="">
   <span id="menu-btn"><img src="/images/menu.svg"></span>
   <div class="church">  
    <img class="logo" src="images/logo.jpg">
    <h1 class="brand">babtiz</h1>
  
   </div> 
      <img class="fav" src="/images/love.svg"/>
    
  </header>
  <main hx-boost="/true">
  <h1 class="heading-t">Songs</h1>
  <a href="/songs">
  <div class="tab" hX-Location="/songs" hx-trigger="click">
    <div class="cover">
      <h1 class="heading">Hymns</h1>
    </div>
    <img src="https://i.ibb.co/dLX5Zsr/songbook.jpg" alt="songbook" border="0"></a>
</div>
</a>

<h1 class="heading-t">refercence</h1>
  <div class="tab">
    <div class="cover">
      <h1 class="heading">reference</h1>
    </div>
    <img src="/images/bible.jpg" alt="songbook" border="0"></a>
</div>
  </main>

<script src="./redirect.js"></script>
</body>

</html>